@media (max-width:950px) {
    $limegreen: #BEE041;
    $darkgreen: #34471C;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 180px) 1fr;
        grid-template-rows: repeat(4, 180px);
    }

    .arrow {
        background-color: $darkgreen;
    }

    .reduceArrow {
        display: none;
    }

    .reuseArrow {
        fill: white;
        opacity: 1;
    }

    .recycleArrow {
        opacity: 0;
    }


    .flower {
        display: none;
    }


    .text {
        background-color: $limegreen;
        grid-column: 2/-1;
    }

    .reduce {
        display: none;
    }

    .reuse {
        color: $darkgreen;
        font-family: oswald;
        font-weight: bold;
        line-height: 160px;
        letter-spacing: 1.5vw;
        font-size: 24vw;
        text-align: center;
    }

    .recycle {
        display: none;
    }


    .reuseFlowerGreen {
        fill: $limegreen;
        transform-origin: bottom;
        animation: grow 3s ease-in-out infinite alternate;
    }

    // second row

    .leaf {
        fill: $darkgreen;
    }
    
    .topLeaf {
        background-color: $limegreen;
    }



    .leaf2 {
        animation-iteration-count: 1;
    }

    .leaf3 {
        display: none;
    }

    .water {
        grid-column: 3/-1;
        grid-row: 2/-1;
    }

    .reduceWater {
        display: none;
    }

    .reuseWater {
        display: block;
        width: 800px;
    }

    .heart {
        background: $darkgreen;
    }

    .love {
        display: none;
    }


    // 3rd row 
    .leftBird {
        background: $darkgreen;
    }

    .BlueKiss {
        background: $darkgreen;
    }

    .YellowBird {
        background-color: $darkgreen;
    }

    .YellowBeak-1 {
        display: none;
    }

    .bottomLeft {
        background-color: $limegreen;
    }

    .YellowFlower {
        display: none;
    }

    .PinkBird {
        display: none;
    }

    .PinkBeak {
        display: none;
    }

    .flower3 {
        display: none;
    }
}