@media (max-width:675px) {
    $limegreen: #8E8E8E;
    $darkgreen: #2D2D2D;

     * {
        margin: 0;
     }
    .container {
        margin: 0;
        display: grid;
        grid-template-columns: calc(100vh/4) 1fr;
        grid-template-rows: repeat(4, calc(100vh/4));
    }

    // first row

    .reuse {
        display: none;
    }

    .text {
        background-color: $limegreen;
    }


    .recycle {
        width: 100%;
        padding: 40px 0 0 30px;
        display: block;
        color: $darkgreen;
        font-family: Hepta Slab;
        font-weight: 800;
        line-height: 80px;
        letter-spacing: 1vw;
        font-size: 11vw;
        text-align: left;
        hyphens: auto;
    }

    .arrow {
        background-color: $darkgreen;
    }

    .reduceArrow {
        display: none;
    }

    .reuseArrow {
        display: none;
    }

    .recycleArrow {
        opacity: 1;
        fill: white;
    }


    .leaf2 {
        display: none;
    }

    .topLeaf {
        background-color: $limegreen;
    }

    .deadLeaf {
        fill: $darkgreen;
    }

    .BlueBird {
        display: none;
    }

    .leftBird {
        background-color: #512828;

    }

    .deadBird {
        display: block;
        fill: #619DD8;
        animation: rotate .5s ease-in-out;
        transform-origin: center;
    }

    @keyframes rotate {
        0% {
            transform: rotate(45deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    .deadBird-eyes {
        fill: #172149;
    }


    .water {
        grid-column: 2/-1;
    }



    .reduceWater {
        display: none;
    }


    .waterStroke {
        animation: 0s;
    }

    .recycleWater {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .water {
        background-color: #424217;
    }

    .heart {
        display: none;
    }

    .BlueKiss {
        display: none;
    }


    // third row

    .YellowKiss {
        display: none;
    }

    .YellowBird {
        display: none;
    }

    .bottomLeft {
        background-color: $darkgreen;
    }

    .plasticBag {
        display: block;
        fill: #63D6B5;
    }
}